.grid {
  /* 2 / √3 */
  --ratio: 1.1547;
  --gap: 10px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  place-content: center;
  width: 100%;
  padding: 40px 60px;
  gap: calc(var(--gap) / var(--ratio)) var(--gap);
}

.cell {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: var(--ratio) / 1;
  transform: translateX(
    calc(var(--offset) * 25% + (var(--offset) * var(--gap)) / 4)
  );
}

.cell > * {
  position: absolute;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / var(--ratio);
  width: 100%;
  gap: 5px;
  color: var(--white);
  text-align: center;
  overflow-wrap: anywhere;
  text-wrap: balance;
  animation: link 1s var(--delay) both var(--play);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  transition: opacity var(--fast);
}

.link:hover,
.link:focus,
.link:not(:has(.image)) {
  background: var(--mid);
}

.grid:has(.link:hover, .link:focus) .link {
  opacity: 0.75;
}

.link:hover,
.link:focus {
  opacity: 1 !important;
}

.cell:has(.link:hover, .link:focus) {
  z-index: 1;
}

@keyframes link {
  from {
    opacity: 0;
  }
}

.link > * {
  position: absolute;
  pointer-events: none;
}

.initials {
  font-size: 2.5rem;
}

.link:has(.image) .initials {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials,
.image {
  transition: opacity var(--fast), transform var(--fast);
}

.link:hover .initials,
.link:focus .initials,
.link:hover .image,
.link:focus .image {
  transform: scale(1.1);
  opacity: 0;
}

.name {
  padding: 20px 10px;
  overflow: hidden;
  transform: scale(0.9);
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity var(--fast), transform var(--fast);
}

.link:hover .name,
.link:focus .name {
  transform: scale(1);
  opacity: 1;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% * var(--ratio) + var(--gap));
  width: 150%;
  max-width: max-content;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--dark);
  color: var(--white);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast), transform var(--fast);
  transition-delay: 0;
}

.cell:has(.link:hover, .link:focus) .tooltip {
  display: block;
  transform: translateY(calc(-1 * var(--gap)));
  opacity: 1;
  transition-delay: 200ms;
}

.tooltip::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(-135deg);
  background: var(--dark);
  content: "";
  color: var(--white);
  clip-path: polygon(0% 0%, 105% 0%, 0% 105%);
  pointer-events: none;
  transition: opacity var(--fast), transform var(--fast);
}

.outline {
  fill: none;
  stroke: var(--dark);
  stroke-width: 0.03;
  stroke-dasharray: 0.01 0.01 0.01 0.01 0.01 0.01 0.01 0.01 0.01 0.01 0.01 0.01
    0.01 0.01 0.01 0.01 0.01 1.5;
  stroke-dashoffset: 1.84;
  aspect-ratio: 1 / var(--ratio);
  width: calc(100% + var(--gap));
  overflow: visible;
  pointer-events: none;
}

.cell:has(.link:hover, .link:focus) .outline {
  animation: outline 1.25s linear;
}

@keyframes outline {
  to {
    stroke-dashoffset: 0.17;
    stroke: var(--mid);
  }
}
